* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1.display-4 {
    margin-bottom: 1rem;
}

#view-main, #view-login, #view-login-ado, #view-login-tgl, #empty-report, #no-workspace-error, #icons {
    display: none;
}

#chart {
    border: 0px solid black;
    display: none;
}

.feature {
    font-size: large;
    margin: 1rem 0 1rem 0;
}

.title {
    cursor: text;
}

.swag {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    background-color: gainsboro;
    color: white;
    cursor: text;
}

.chart-row {
    padding: 0.25rem;
    cursor: default;
    white-space: nowrap;
}

.chart-row-highlighted {
    background-color: gainsboro;
    border-radius: 0.25rem;
}

.chart-row-predecessor-highlighted {
    background-color: rgb(255, 200, 200);
    border-radius: 0.25rem;
}

.chart-row-successor-highlighted {
    background-color: rgb(160, 255, 160);
    border-radius: 0.25rem;
}

.task-EnablingSpecification {
    color:rgb(140, 140, 140);
}

.column-Pending {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    color: black;
    background: rgb(255, 200, 200);
    cursor: default;
}

.column-Clarify {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    color: black;
    background: rgb(255, 220, 200);
    cursor: default;
}

.column-Ready {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    color: black;
    background: rgb(240, 240, 140);
    cursor: default;
}

.column-InProgress {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    color: black;
    background: rgb(160, 220, 255);
    cursor: default;
}

.column-Closed {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    color: black;
    background: rgb(140, 240, 140);
    cursor: default;
}

.predecessors {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    background: rgb(140, 140, 140);
    color: white;
    cursor: default;
}

.successors {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    background: rgb(200, 200, 200);
    color: white;
    cursor: default;
}

.assignedTo {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
    background: rgb(160, 220, 255);
    color: white;
    cursor: default;
}

#report td, #report th {
    vertical-align: middle;
}

.notification {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 0.25rem;
    border-radius: 0.25rem;
    width: 300px;
    padding: 10px;
    border: 1px solid;
}

.cursor-pointer {
    cursor: pointer;
}

#wait-login-tgl {
    line-height: 32px;
}