* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#view-main, #view-login, #view-login-ado, #view-login-tgl, #empty-report, #no-workspace-error, #icons {
    display: none;
}

#chart {
    border: 0px solid black;
    display: none;
}

.epic {
    font-size: large;
}

.title {
    cursor: text;
}

.swag {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background-color: gainsboro;
    color: white;
    cursor: text;
}

.chart-row {
    padding: 5px;
    cursor: default;
    white-space: nowrap;
}

.chart-row-highlighted {
    background-color: gainsboro;
    border-radius: 5px;
}

.chart-row-predecessor-highlighted {
    background-color: rgb(255, 200, 200);
    border-radius: 5px;
}

.chart-row-successor-highlighted {
    background-color: rgb(160, 255, 160);
    border-radius: 5px;
}

.columnPending {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(255, 200, 200);
    cursor: default;
}

.columnClarify {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(255, 220, 200);
    cursor: default;
}

.columnReady {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(240, 240, 140);
    cursor: default;
}

.columnInProgress {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(160, 220, 255);
    cursor: default;
}

.columnClosed {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(140, 240, 140);
    cursor: default;
}

.predecessors {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(140, 140, 140);
    color: white;
    cursor: default;
}

.successors {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(200, 200, 200);
    color: white;
    cursor: default;
}

.assignedTo {
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background: rgb(160, 220, 255);
    color: white;
    cursor: default;
}

#report td, #report th {
    vertical-align: middle;
}

.notification {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    border: 1px solid;
}

.cursor-pointer {
    cursor: pointer;
}

#wait-login-tgl {
    line-height: 32px;
}